.ProfilePic {
	width: 92.5%;
	height: 92.5%;

	border-radius: 50%;
}

.ProfilePicOutLine {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 25%;
	aspect-ratio: 1;

	border-radius: 50%;

	background: transparent;
	background-image: linear-gradient(
		90deg,
		#f6e5c3 25%,
		#d7b262 25%,
		#d7b262 75%,
		#f6e5c3 75%,
		#f6e5c3 100%
	);
}

/* this is the section which will hold links, phone, email address, etc. */

.MiddleSection {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	position: absolute;

	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
}

.MiddleBottomSection {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	position: relative;

	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;

    height: 50%;
}

/* links, phone, email */

.Info {
	font-family: "Playfair Display";
	color: #f6e5c3;
	font-weight: 900;
	font-size: 30px;
}

/*Weights for playfair display:[400,500,600,700,800,900]*/

.Bio {
	font-family: "Playfair";
	color: #f6e5c3;
	font-weight: 700;
	font-size: 35px;

	width: 60%;

	display: flex;
	justify-content: center;
	align-content: center;

	text-align: center;
}
